# first, ignore everything by default
*

# allow gitignore
!.gitignore

# allow CMakeLists.txt
!CMakeLists.txt

# allow markdown
!*.md

# allow src dir
!src/

# allow libs
!lib/
!lib/rocket/
!lib/stb/

# and src files inside
!*.cpp
!*.c
!*.h

# allow rocket data
!sync.rocket
