# ignore build dirs
[Rr]elease/
[Dd]ebug/
[Bb]uild/
lib/glew/auto

# rocket track files
*.track

# binary files
*.o
*.a
*.png
*.opus
*.wav
*.aac
*.mp3
*.ogg
*.flac

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# misc
*.log

# Ignore macOS .DS_Store
.DS_Store
